body {

    margin: 0;

    background: #0e1117;

    color: white;

    font-family: Arial, sans-serif;
}


header {

    max-width: 900px;

    margin: 40px auto 20px;

    padding: 0 20px;

    display: flex;

    justify-content: space-between;

    align-items: center;
}
.github-button svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

h1 {

    font-size: 36px;

    margin-bottom: 10px;
}


p {

    color: #b8b8b8;
}


.github {

    background: #262730;

    color: white;

    text-decoration: none;

    padding: 12px 18px;

    border-radius: 7px;
}


main {

    max-width: 900px;

    margin: auto;

    padding: 20px;
}


select {

    width: 100%;

    padding: 14px;

    background: #262730;

    color: white;

    border: 1px solid #555;

    border-radius: 7px;

    font-size: 15px;
}


pre {

    background: #161b22;

    padding: 20px;

    border-radius: 8px;

    white-space: pre-wrap;

    overflow-x: auto;

    min-height: 100px;
}


textarea {

    width: 100%;

    min-height: 100px;

    box-sizing: border-box;

    background: #161b22;

    color: white;

    border: 1px solid #444;

    border-radius: 8px;

    padding: 15px;

    font-family: monospace;

    resize: vertical;
}


button {

    margin-top: 15px;

    padding: 12px 22px;

    background: #2ea043;

    color: white;

    border: none;

    border-radius: 7px;

    font-size: 16px;

    cursor: pointer;
}


button:hover {

    background: #238636;
}